body{
    background: linear-gradient(to right, rgba(36,31,31,1) 0%, rgba(36,31,31,1) 32%, rgba(74,71,70,1) 100%);
    color: #fff;
    font-family: 'Bellefair', 'Arial Narrow', Arial, sans-serif;
    font-size: 2rem;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#citation{
    display: inline-block;
    width: 70%;
    padding: 10px;
}

#auteur{
    padding-bottom: 40px;
}

button{
    padding: 10px;
    border-radius: 50px;
}
